.container .box {
  padding-top: 60px; }

.container .special {
  transition: 1s; }
  .container .special:hover {
    letter-spacing: 20px; }

.title {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

ul + div {
  margin-bottom: 50px !important; }
