.container {
    .list{
        position: absolute;
        right: 0;
        top: 180px;
        width: 30%;
        height: 300px;
        font-size: 1.7rem;
        .bullets{
            margin-left: 30px;
            margin-top: 10px;
        }
    }
}